@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <h4 class="editTitle mt-3">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}